<html>
    <head>
        <h1> {{title}}</h1>
    </head>
        <h1>
            <ul>
                {{#each list}}
                <li> {{this}}</li>
                {{/each}}
            </ul>
        </h1>
</html>